POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-strong-db-password
POSTGRES_DB=ddcsa_coursework
DATABASE_URL=postgresql://postgres:replace-with-strong-db-password@db:5432/ddcsa_coursework
JWT_SECRET=replace-with-long-random-jwt-secret
SERVER_IMAGE=ghcr.io/kaprun17/ddcsa-coursework-server:latest
CLIENT_IMAGE=ghcr.io/kaprun17/ddcsa-coursework-client:latest
